.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem 0 0 0;
  /* height: calc(100vh - 64px); */
}

.main__hero {
  margin: 0 0 1.5rem 0;
}

.hero__title {
  margin: 4rem 0 1rem 0;
}

.hero__hello {
  display: inline-block;
  background: linear-gradient(
    90deg,
    rgb(51, 153, 255),
    rgba(23, 161, 230, 1),
    rgb(22, 226, 185)
  );
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.hero__name {
  display: inline-block;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.hero__name-text {
  background-image: linear-gradient(
    90deg,
    rgb(51, 153, 255),
    rgba(23, 161, 230, 1),
    rgb(22, 226, 185)
  );
  color: transparent;
  background-clip: text;
}

.hero__paragraph {
  color: var(--text-primary);
  margin: 0 0 1rem 0;
}

.account-list {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
}

.account-list__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: var(--radius-sm);
  text-decoration: none;
  background-color: white;
  color: black;
  gap: 0.25rem;
}

.account-list__icon {
  width: 1rem;
  height: 1rem;
}

.account-list__button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.hero__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cube {
  width: 300px;
  height: 300px;
  position: relative;
  z-index: -1;
}

.cube__face {
  transform-origin: 0 0;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 150px;
  left: 150px;
}

.cube__top {
  background: #90e0ef;
  transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
}

.cube__front {
  background: #00b4d8;
  transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
}

.cube__side {
  background: #0077b6;
  transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
}

.main__post-list-title {
  margin: 0 0 1rem 0;
}

.main__post-list {
  margin: 0 0 4rem 0;
}

.hero__about-link-icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--primary-300);
}

.hero__about-link-icon:hover {
  fill: var(--primary-200);
}

@media screen and (min-width: 600px) {
  .hero {
    flex-direction: row;
    padding: 0;
  }

  .hero__greeting {
    max-width: 50%;
  }

  .hero__logo {
    max-width: 50%;
  }
}
