.sidebar-container {
    display: none;
    max-width: 15rem;
    width: 100%;
}

.sidebar {
    position: fixed;
    overflow: auto;
    width: 16rem;
    max-height: calc(100vh - 64px);
    padding: 1rem 0 2rem 1rem;
    box-sizing: border-box;
}

.mobile-sidebar-container {
    display: block
}

#mobile-sidebar {
    display: none;
    top: 4rem;
    background-color: rgba(15, 18, 20, 0.8);
}

#mobile-sidebar.mobile-sidebar-opened {
    display: flex;
}

.post-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.root-link-list {
    font-size: 0.9rem;
}

.link-list {
    display: none;
    margin-left: 0.75rem;
}

.link-list_opened {
    display: block
}

.link-list__item {
    display: flex;
    list-style: none;
}

.link-list__anchor {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 0.4rem 0 0.4rem 0.5rem;
    width: 100%;
}

.link-list__anchor:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.1);
}

.link-list__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 0.4rem;
}

.link-list__toggler:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.1);
}

#mobile-sidebar-toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 4rem;
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
    color: inherit;
}

#mobile-sidebar-toggle-btn.mobile-sidebar-opened {
    left: 16rem;
}

#mobile-sidebar-toggle-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.toggle-btn-icon {
    display: none;
    fill: white;
    width: 1.25rem;
    height: 1.25rem;
}

.btn-active {
    display: block
}

.main-container {
    padding: 4rem 0 0 0;
}

.post {
    max-width: 300px;
    width: 100%;
    padding: 2rem 0 0 0;
}

.tag-list {
    display: flex;
    list-style-type: none;
    gap: 0.3rem;
}

.tag-list-item {
    border: 0.05rem solid white;
    border-radius: 30px;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

@media screen and (min-width: 600px) {
    .post {
        max-width: 600px;
    }

    .mobile-sidebar-container {
        display: none;
    }

    .sidebar-container {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .post {
        max-width: 900px;
    }
}

/* https: //mui.com/material-ui/getting-started/ */

.heading-1 {
    font-size: 2.25rem;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

.heading-2 {
    font-size: 1.625rem;
    font-weight: 600;
    margin: 40px 0 4px 0;
}

.heading-3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 1.5rem 0 0.25rem 0
}

.paragraph {
    line-height: 1.6;
    letter-spacing: 0;
    margin: 0 0 1rem 0;
}

.date {
    margin: 0 0 10px 0;
}

.tag-list {
    margin: 0 0 10px 0;
}

.description {
    font-size: 1.125rem;
    line-height: 1.33333;
    letter-spacing: 0;
    margin: 0 0 1.5rem 0;
}