.post-list {
    display: flex;
    flex-direction: column;
}

.post-list__item {
    color: inherit;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    text-decoration: none;
}

.post-list__item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.post-list__layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.post-list__created-date {
    display: none;
    align-items: center;
    padding: 1rem;
}

.post-list__title {
    font-size: 1.25rem;
}

@media screen and (min-width: 600px) {
    .post-list__created-date {
        display: flex;
    }
}