.desktop-sidebar {
  display: none;
  max-width: 16rem;
  width: 100%;
}

.sidebar__layout {
  position: fixed;
  overflow: auto;
  max-width: 16rem;
  width: 100%;
  max-height: calc(100vh - 64px);
  height: 100%;
  padding: 1rem 1rem 1rem 1rem;
  box-sizing: border-box;
  background-color: rgba(15, 18, 20, 0.8);
  border-right: 1px solid rgba(61, 71, 81, 0.3);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
}

.mobile-sidebar__layout {
  display: none;
  top: 4rem;
  background-color: rgba(15, 18, 20, 0.8);
}

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0 1rem 0 1rem;
  box-sizing: border-box;
}

.post__layout {
  width: 100%;
  margin: 4rem 0 4rem 0;
  box-sizing: border-box;
}

.footer {
  color: var(--text-primary);
}

.heading-tree {
  width: 100%;
  font-size: 0.9rem;
  list-style-type: none;
}

.heading-tree__subtree {
  display: none;
  margin-left: 0.75rem;
  list-style-type: none;
}

.heading-tree__subtree_opened {
  display: block;
}

.heading-tree__node {
  display: flex;
}

.heading-tree__link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  width: 100%;
}

.heading-tree__link:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.1);
}

.heading-tree__toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 0.4rem;
}

.heading-tree__toggler_opened {
  display: flex;
}

.heading-tree__toggler:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.1);
}

.mobile-sidebar__toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 4rem;
  width: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
  color: inherit;
}

.mobile-sidebar__toggler_opened {
  left: 16rem;
}

.mobile-sidebar__toggler:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.mobile-sidebar__toggler-icon {
  display: none;
  fill: white;
  width: 1.25rem;
  height: 1.25rem;
}

.main_route_post {
  padding-right: 0;
  padding-left: 0;
}

.post__heading-1 {
  margin: 10px 0 10px 0;
}

.post__heading-2 {
  margin: 40px 0 4px 0;
}

.post__heading-3 {
  margin: 1.5rem 0 0.25rem 0;
}

.post__paragraph {
  margin: 0 0 1rem 0;
}

.post__title {
  margin: 0 0 10px 0;
  color: var(--text-primary);
}

.post__subtitle {
  font-size: 1.125rem;
  line-height: 1.33;
  letter-spacing: 0;
  margin: 0 0 1rem 0;
  color: var(--secondary-200);
}

.post__details {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.875rem;
  flex-wrap: wrap;
}

.post__detail_has-right-border {
  border-right: 1px solid rgba(241, 245, 249, 0.3);
  padding-right: 0.5rem;
}

.tags {
  display: flex;
}

.post__tag-title {
  margin: 0 0.25rem 0 0;
}

.post__list {
  margin: 0 0 1rem 0;
}

.reference-list__ordered-list {
  padding: 0 0 0 2.5rem;
}

.reference-list__item {
  color: var(--text-secondary);
  overflow-wrap: break-word;
}

.reference-list__item_selected {
  background-color: rgba(255, 255, 255, 0.1);
}

.reference-list__backlink-list {
  display: inline-flex;
  gap: 0.15rem;
  margin: 0 0.25rem 0 0;
}

.callout {
  padding: 1.25rem;
  border: 1px solid hsl(215, 15%, 25%);
  border-left-width: 0.25rem;
  border-left-color: var(--primary-300);
  border-radius: var(--radius-sm);
}

@media screen and (min-width: 600px) {
  .post__layout {
    max-width: 400px;
  }

  .mobile-sidebar {
    display: none;
  }

  .desktop-sidebar {
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  .post {
    padding: 0 0 0 0;
  }

  .post__layout {
    max-width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .post__layout {
    max-width: 900px;
  }
}
